# General build directories
.gradle/
**/build/
**/bin/

# Java-specific
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA / Eclipse IDE files
*.iml
.idea/
*.classpath
.project
*.factorypath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Gradle wrapper files (only exclude other .jar files)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Application properties
application*.properties
*.properties

# SSL certificates
ssl-certs/

# harpoon
.harpoon*

