#data-app-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.data-app-header h1 {
  color: #333;
}

.data-app-search,
.data-app-filters {
  margin-bottom: 20px;
}

.data-app-search input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
}

.data-app-search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.data-app-search button:hover {
  background-color: #0056b3;
}

.data-app-buttons button:active {
  background-color: #004299;
  transform: scale(0.98);
}

.data-app-content {
  background-color: #f9f9f9;
  padding: 20px;
}

.data-table-container,
.data-graphs-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
}

.data-app-footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.data-table-container {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 400px;
}

.data-table-container table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.data-table-container th {
  background-color: #9e9d9d;
  /* Ensure the background is not transparent */
  position: sticky;
  top: 0;
  /* Stick to the top of the closest scrolling ancestor */
  z-index: 2;
  /* Ensure the header is above other content */
  padding-top: 3px;
  border: 1px solid #333;
  box-shadow: 0 -1px 0 #333, 0 1px 0 #333, -1px 0 0 #333, 1px 0 0 #333;
}

.data-table-container td {
  border: 1px solid #333;
  text-align: center;
  padding: 0px;
  /* Adjust padding as needed */
}

.data-table-container tr:hover {
  background-color: coral;
}
